<!DOCTYPE html>
<html>

<head>
    <title>Attendance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/css/style.css">

    <!-- Face API -->
    <script src="https://cdn.jsdelivr.net/npm/face-api.js@0.22.2/dist/face-api.min.js"></script>
</head>

<body>
    <div class="container">
        <h2>Attendance</h2>

        <input id="emp_id" placeholder="Employee ID" oninput="fetchEmployee()">
        <input id="dept" placeholder="Department" oninput="fetchEmployee()">

        <p id="emp_name" style="font-weight:bold; margin-top:10px;"></p>

        <video id="video" width="280" height="240" autoplay muted></video>

        <p id="status"></p>

        <button onclick="startCamera()">Start Camera</button>
        <button id="attendanceBtn" onclick="verifyAndMark()" disabled>Take Attendance</button>

        <div style="display:flex; gap:10px; margin-top: 15px;">
            <button class="secondary" onclick="goBack()">Back</button>
            <button class="secondary" onclick="logout()">Logout</button>
        </div>

    </div>


    <script src="/frontend/js/utils.js"></script>
    <script src="/frontend/js/attendance.js"></script>

    <script>
        function goBack() {
            window.location.href = "/dashboard";
        }

        function logout() {
            window.location.href = "/";
        }
    </script>
</body>

</html>