<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/css/style.css">
</head>

<body>
    <div class="container">
        <h2>Login</h2>

        <input id="username" placeholder="Email">
        <input id="password" type="password" placeholder="Password">

        <p id="status"></p>

        <div style="margin-top: 15px;">
            <button type="button" onclick="login()">Login</button>
            <button type="button" class="secondary" onclick="goToRegister()">New User</button>
        </div>
    </div>

    <script src="/frontend/js/utils.js"></script>
    <script src="/frontend/js/login.js"></script>

    <script>
        document.addEventListener("keypress", function (e) {
            if (e.key === "Enter") {
                login();
            }
        });

        function goToRegister() {
            window.location.href = "/register";
        }
    </script>
</body>

</html>